<ion-header>
  <ion-navbar>
    <ion-title>{{media.file_name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-fab class="fad-bottom-btn" bottom right edge>
    <button ion-fab color="danger" (click)="favorite()">
      <ion-icon *ngIf="isFavorited()" name="ios-heart"></ion-icon>
      <ion-icon *ngIf="!isFavorited()" name="ios-heart-outline"></ion-icon>
    </button>
  </ion-fab>

  <ion-card>


    <ion-card-content>
      <ion-card-title>
        {{media.name}}
      </ion-card-title>

      <ion-item>
        <div *ngIf="media.type=='music'">

          <button  (click)="playMusic()" ion-button icon-left clear item-left>

            <span *ngIf="mediaPlaying">
              <ion-icon name="pause"></ion-icon>
              Pause
            </span>

            <span *ngIf="!mediaPlaying">
              <ion-icon name="play"></ion-icon>
              Play
            </span>
          </button>



        </div>

        <div *ngIf="media.type=='video' ">

          <button  (click)="playVideo()" ion-button icon-left clear item-left>
            <ion-icon name="play"></ion-icon>
            Play video
          </button>


        </div>

        <div *ngIf="media.type=='image' ">

          <button  (click)="openImage()" ion-button icon-left clear item-left>
            <ion-icon name="ios-image"></ion-icon>
            Show image
          </button>


        </div>
      </ion-item>

    </ion-card-content>


  </ion-card>




</ion-content>
